@import url('https://fonts.googleapis.com/css?family=Poppins');


// @mixin stroke($param) {
//     -webkit-text-stroke: $param;
// }
$primary-color: rgb(20, 139, 124);
$primary-dark: #148b7c;
$timer-blown-color: rgb(228, 89, 89);
$secondary-color: #486fc2;
$text-dark: rgb(27, 27, 27);
$text-light-color: rgb(248, 248, 248); 
$highlight-color: rgb(255, 255, 255);
$auto-clock-font-size: 3.6rem;


* {
    font-family: 'Poppins';
}
*, *:before, *:after {
    box-sizing: border-box;
}

@mixin custom_button(){
    border: none;
    margin: 20px;
    padding: 10px;
    color: $highlight-color;
    background-color: $secondary-color;
    border-radius: 5px;
    box-shadow: 0px 0px 10px $secondary-color;
    font-size: 2rem;
    cursor: pointer;
}

@mixin custom_button_hover {
    margin: 15px;
    padding: 15px;
}


body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #fcfcfc, #ffffff);
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;

    h1 {
        font-size: 3rem;
        margin: 10px;
        // @include stroke(1px white);
    }

    .menu-bar {
        display: flex;
        flex-direction: row;
        font-size: 2rem;
        gap: 1rem;
        color: #aaa;
        cursor: pointer;
        margin-bottom: 2rem;
        border: 2px solid $primary-color;
        padding: 1rem;
        border-radius: 999px;
        box-shadow: 0px 0px 10px inset $primary-dark;

        .active {
            // font-size: 3rem;
            font-weight: 999;
            color: $secondary-color;
            cursor: default;
        }
    }

}


.timer-stopwatch-toggle {
    @include custom_button();
}
.timer-stopwatch-toggle:hover {
    @include custom_button_hover();
}

.clock-container {
    display: flex;
    // justify-content: center;
    align-items: center;
    font-size: 2rem;
    flex-direction: column;
    // height: 100vh;

    

    
    .circle {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $text-dark;
        // background-color: $primary-color;
        width: 1rem;
        height: 1rem;
        min-width: 200px;
        min-height: 200px;
        border-radius: 9999px;
        font-size: 1rem;
        // border: 5px solid #333;
        margin-bottom: 20px;
        // text-align: center;
        border: 10px solid $primary-dark;
        box-shadow: 0px 0px 10px inset $primary-dark;

        input {
            display: flex;
            // position: absolute;
            // align-items: flex-start;
            // justify-content: flex-start;
            font-size: $auto-clock-font-size;
            // text-align: right;
            margin-top: 10px;
            text-align: center;
            width: 2.5ch;
            outline: none;
            border: none;
            background: transparent;
            filter: drop-shadow(0px 0px 2px $text-dark);
            
        }
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
            }

            /* Firefox */
            input[type=number] {
            -moz-appearance: textfield;
            }
            
        // input:focus {
        //     // border: 1px solid white;
        //     // border-radius: 5px;
        // }

        p {
            font-size: $auto-clock-font-size;

        }

        .minutes-input {
            // text-align: end;
            color: $text-dark;
            // left: 10px;
        }

        .seconds-input {
            // text-align: start;
            color: $text-dark;
            // left: 10px;
        }

        
    }

    .circle.blown {
        border: 10px solid $timer-blown-color;
        // background-color: $timer-blown-color ;
        box-shadow: 0px 0px 10px inset $timer-blown-color;
    }

    button {
        @include custom_button();
    }

    button:hover {
        @include custom_button_hover();
    }

    .btn.reset.blown {
        background: $timer-blown-color;
        box-shadow: 0px 0px 10px $timer-blown-color;
    }


}

footer {
    font-size: 1.2rem;
    margin-top: 1.2rem;
    color: $text-dark;
}

footer::before {
    content: "";
    box-shadow: 0px 0px 10px red;
}