@import url('https://fonts.googleapis.com/css?family=Overpass');


// @mixin stroke($param) {
//     -webkit-text-stroke: $param;
// }
$primary-color: rgb(20, 139, 124);
$timer-blown-color: rgb(218, 68, 68);
$secondary-color: #142e8b;
$text-light-color: #fef; 
$highlight-color: rgb(243, 210, 210);
$auto-clock-font-size: 10vw;

body {
    margin: 0;
    padding: 0;
    font-family: Overpass;
    background: linear-gradient(180deg, #ebeade, rgb(208, 221, 212));
}

.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    flex-direction: column;
    height: 100vh;

    h1 {
        margin: 10px;
        // @include stroke(1px white);
    }

    // input {
    //     padding: 10px;
    //     font-family: Overpass;
    //     font-size: 1.8rem;
    //     border-radius: 10px;
    // }


    
    .circle {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $text-light-color;
        background-color: $primary-color;
        width: 30vw;
        height: 30vw;
        min-width: 200px;
        min-height: 200px;
        border-radius: 9999px;
        font-size: 5rem;
        // border: 5px solid #333;
        margin-bottom: 20px;
        // text-align: center;
        box-shadow: 0px 0px 50px $primary-color;

        input {
            display: flex;
            // position: absolute;
            // align-items: flex-start;
            // justify-content: flex-start;
            font-size: $auto-clock-font-size;
            // text-align: right;
            margin-top: 10px;
            text-align: center;
            width: 2.5ch;
            outline: none;
            border: none;
            background: transparent;
            filter: drop-shadow(1px 1px 20px $highlight-color);
            
        }
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
            }

            /* Firefox */
            input[type=number] {
            -moz-appearance: textfield;
            }
            
        input:focus {
            // border: 1px solid white;
            // border-radius: 5px;
        }

        p {
            font-size: $auto-clock-font-size;

        }

        .minutes-input {
            text-align: end;
            color: $text-light-color;
            // left: 10px;
        }

        .seconds-input {
            text-align: start;
            color: $text-light-color;
            // left: 10px;
        }
    }

    .circle.blown {
        background-color: $timer-blown-color ;
        box-shadow: 0px 0px 50px $timer-blown-color;
    }

    button {
        border: none;
        margin: 20px;
        padding: 10px;
        color: $highlight-color;
        font-family: 'Overpass';
        background-color: $secondary-color;
        border-radius: 5px;
        box-shadow: 0px 0px 50px $secondary-color;
        font-size: 2rem;
    
        
    
    }

    .btn.reset.blown {
        background: $timer-blown-color;
        box-shadow: 0px 0px 50px $timer-blown-color;
    }


}